.checkbox {
  margin-left: 65px;
  float: left;
  &-input {
    vertical-align: middle;
    appearance: none;
    padding: 5px;
    background-color:#fff;
    border: 2px solid rgba(#000, .4);
    border-radius: 2px;
    &:checked {
      background-color: $checked-background;
    }
  }
  &-label {
    font-size: 13px;
    color: $form-text-color;
    margin-left: 8px;
  }
}