.checkbox {
  cursor: pointer;
  &-input {
    vertical-align: middle;
    appearance: none;
    padding: 6px;
    background-color:#fff;
    border: 2px solid rgba(#000, .4);
    border-radius: 2px;
    cursor: inherit;
    &:checked {
      background-color: $dark-blue;
    }
    &:focus {
      outline: none;
    }
  }
  &-label {
    font-size: 13px;
    color: $dark-gray;
    margin-left: 8px;
    cursor: inherit;
  }
}