.checkbox {
  font-size: 13px;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: $dark-gray;
  user-select: none;
  &-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkbox-checkmark {
      background-color: $dark-blue;
      border: 0;
      &:after {
        display: block;
      }
    }
    &:checked + label:before {
      border-color: #eee;
      color: #ccc;
    }
  }
  &-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 2px solid rgba(#000, .4);
    background-color: #fff;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      width: 5px;
      height: 10px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}