@import 'variables';
@import 'utils';
@import 'heading';

.container {
  margin-left: 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 69.5%;
  background-position-y: 3%;
  background-size: 480px;
  .todo-box {
    width: 73.5%;
  }
}