@import 'variables';
@import 'utils';
@import 'heading';

.container {
  margin-left: 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 69.5%;
  background-position-y: 3%;
  background-size: 480px;
  .todo-box {
    width: 73.5%;
  }
}

@media screen and (max-width: $responsive-md-bp) {
  .container {
    background-size: 230px;
    margin-left: 0;
    background-position-x: 110%;
    background-position-y: 7%;
    .todo-box {
      width: 95%;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: $responsive-sm-bp) {
  .container {
    background-size: 190px;
    background-position-x: 125%;
  }
}