@import 'variables';
@import 'utils';

.task-image {
  display: block;
  width: 93%;
  height: 150px;
  margin-left: 17px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  &-container {
    i {
      font-size: 26px;
      position: absolute;
      top: 5px;
    }
    .add {
      color: $add-img-color;
      right: 55px;
    }
    .remove {
      right: 25px;
      color: $remove-img-color;
    }
  }
}