@import 'variables';
@import 'utils';
@import 'checkbox';

.todo-item {
  margin: 15px;
  padding: 2px;
  height: 30px;
  &:hover {
    background-color: #eee;
    .show-more {
      display: block;
    }
  }
  .checkbox {
    &-input {
      margin-left: 5px;
    }
    &-label {
      font-size: 14px; 
      font-weight: 400;
      &.done {
        color: rgba($dark-gray, .5);
      }
    }
  }
  .show-more {
    font-size: 22px;  
    margin-right: 7px;
    color: $dark-gray;
    display: none;
  }
}