.m-auto {
  margin: 0 auto;
}
.has-border-radius {
  border-radius: 4px;
}
.has-box-shadow {
  box-shadow: 0 0 15px 3px rgba(#000, .2);
}
.d-flex {
  display: flex;
}
.mt-30 {
  margin-top: 30px;
}
.cursor-pointer {
  cursor: pointer;
}
.unselectable {
  user-select: none;
}
.is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.position-relative {
  position: relative;
}
.space-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}