$light-blue:       #006bf5;
$dark-blue:        #425bd9;
$dark-gray:        #6c757d;
$light-green:      #2ECC40;

$remove-img-color: #FF4136;
$navbar-background:#232C33;

$responsive-md-bp:   650px;
$responsive-sm-bp:   455px;
$responsive-xs-bp:   320px;
